
#maincontent table th,
#maincontent table td,
#maincontent form table#dataTable th,
#maincontent form table#dataTable td {
	/* vertical-align: top; */
	vertical-align: bottom;
	/* text-align: left; */
	/* padding:10px 15px; */
	padding: 10px 30px 10px 18px;
	/* line-height:1.5em; */
	/* word-break: break-word; */
	white-space: nowrap;
}
